
 #root {
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
  
}
body {
    font-family: 'Taviraj', serif;
    color:rgb(149, 49, 49);
   
}

.resultText {
  font-size: 35px;
  font-style:italic;
}

.ResultPart img {
    width: 50%; /* Adjust this value to make the image smaller or larger */
    height: auto; /* This maintains the aspect ratio */
    margin: 0 auto;
    padding: 20px; /* Center the image */
    display: block; 
    /* Ensures the image is block level for margin auto to work */
}

@media (max-width: 768px) {
    .ResultPart img {
        width: 330px; /* Or a fixed width like 300px */
    }
    .resultText {
  font-size: 25px;
  font-style:italic;
}
}

@media (min-width: 769px) and (max-width: 1024px) {
    .ResultPart img {
        width: 50%; /* Or whatever size you deem appropriate for larger tablets */
    }
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
